body {
  font-family: sans-serif;
  background-color: lightgrey;
}

.slider {
  max-width: 75vh;
  margin: 0 auto;
}

.slick-track {
  padding-top: 15px;
  padding-bottom: 25x;
}

.slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
  height: auto;
}

.slick-slide:not(.slick-current) {
  filter: brightness(0.5);
}

.slick-slide.slick-current {
  transform: scale(1);
  position: relative;
  z-index: 1;
}

.slick-slide img {
  width: 100%;
}
